<h1>{{title}}</h1>
<table class="table">
    <thead>
    <tr>
        <th>Apartment Number</th>
        <th>Floor Number</th>
        <th>Category</th>
        <th>Residence</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of apartments">
            <td>{{a.apartNum}}</td>
            <td>{{a.floorNum}}</td>
            <td>{{a.category}}</td>
            <td>{{getResidence(a.ResidenceId)}}</td>
            <td><button class="btn btn-primary" [routerLink]="['/apartment/details/',a.ResidenceId]">Détails</button></td>
        </tr>
    </tbody>
</table>

