<!--<input [formControl]="name">
<input [formControl]="address">
<input [formControl]="image">
<input [formControl]="status">
<input type="submit" value="Submit" (click)="add()">-->
<div class="container">
    <div class="row">
        Add new apartment
    </div>
    <div class="row">
        <form [formGroup]="apartment">
            <div class="mb-3">
                <label>Apartment number:</label>
                <input type="number" class="form-control" formControlName="apartNum">
            </div>
            <div class="alert alert-danger" *ngIf="apartNum!.invalid && (apartNum!.touched || apartNum!.dirty)">
                <div *ngIf="apartNum!.hasError('required')">Apartment Number is required!</div>
            </div>
            <div class="mb-3">
                <label>Floor number:</label>
                <input type="number" class="form-control" formControlName="floorNum">
            </div>
            <div class="alert alert-danger" *ngIf="floorNum!.invalid && (floorNum!.touched || floorNum!.dirty)">
                <div *ngIf="floorNum!.hasError('required')">Floor Number is required!</div>
            </div>
            <div class="mb-3">
                <label>Surface:</label>
                <input type="number" class="form-control" formControlName="surface">
            </div>
            <div class="alert alert-danger" *ngIf="surface!.invalid && (surface!.touched || surface!.dirty)">
                <div *ngIf="surface!.hasError('required')">Surface is required!</div>
            </div>
            <div class="mb-3">
                <label>Terrace:</label>
                <div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="terraceYes" formControlName="terrace" [value]="true">
                        <label for="terraceYes" class="form-check-label">Oui</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="terraceNo" formControlName="terrace" [value]="false">
                        <label for="terraceNo" class="form-check-label">Non</label>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger" *ngIf="terrace!.invalid && (terrace!.touched || terrace!.dirty)">
                <div *ngIf="terrace!.hasError('required')">Terrace is required!</div>
            </div>
            <div class="mb-3">
                <label>Surface Terrace:</label>
                <input type="number" class="form-control" formControlName="surfaceterrace" [disabled]="apartment.get('terrace')?.value !== true">
            </div>
            <div class="alert alert-danger" *ngIf="surfaceterrace!.invalid && (surfaceterrace!.touched || surfaceterrace!.dirty)">
                <div *ngIf="surfaceterrace!.hasError('required')">Surface Terrace is required!</div>
            </div>
            <div class="mb-3">
                <label>Category</label>
                <select class="form-select" formControlName="category">
                    <option>S+1</option>
                    <option>S+2</option>
                    <option>S+3</option>
                </select>
            </div>
            <div class="mb-3">
                <label>Residence Id:</label>
                <input type="number" class="form-control" formControlName="ResidenceId">
            </div>
            <div class="alert alert-danger" *ngIf="ResidenceId!.invalid && (ResidenceId!.touched || ResidenceId!.dirty)">
                <div *ngIf="ResidenceId!.hasError('required')">Residence Id is required!</div>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-outline-primary" (click)="add()" value="Add apartment" [disabled]="apartment.invalid">
            </div>
        </form>
    </div>
</div>